@font-face {font-family: 'Gotham-Book'; font-style: normal; font-weight: normal;
  src: local('Gotham-Book'), url('src/GothamBook.woff') format('woff');}
  
@font-face {font-family: 'Gotham-Bold'; font-style: normal; font-weight: normal;
  src: local('Gotham-Bold'), url('src/gotham-bold-1361523260.woff') format('woff');}

body {
	font-family: 'Gotham-Book';
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
  min-height: 100%;
  line-height: 1.5;
}

h1 {font-family: 'Gotham-Book';
  font-weight: normal;
  color: #C70039; 
}

h2 {font-family: 'Gotham-Book';
  font-weight: normal;
  color: #581845;
}

h3 {font-family: 'Gotham-Book';
  font-weight: normal;
  color: #818181;
}

h4 {font-family: 'Gotham-Bold';
  font-size: 18px;
  margin-bottom: 0px;
  color: #818181;
}

p{font-family: 'Gotham-Book';
  font-size: 18px;
}

/*==================================================================================================*/
/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 22%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 100px;
  padding-left: 20px;
}
 /* Centred my picture in left sidebar */
.my_picture img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The navigation menu links */
.sidebar a {
  /*padding: 50px 50px 75px 100px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  .sidenav {display:none;}
  .sidenav a {font-size: 18px;}
}
/* What means screen? */
/* 768px is considered the breakpoint for mobile width vs. desktop */

/*==================================================================================================*/
/* Style page content */
.main {
  margin-left: 22%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 5px;
  left auto;
}

.main a{
  text-decoration : none;
  color: #818181;
}
/*==================================================================================================*/
/* Create three equal columns that floats next to each other */
.container {
  display: flex;
  margin-left: 22%;
}
.column-left
{ 
  float: left; 
  width: 30%; 
}
.column-right
{ 
  float: left; 
  width: 48%;
}

 .picture img {
  padding-top:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture_ img {
  padding-top:80px;
  padding-left:-200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1600px) {
    .column-left{ float: none; width: 100%; }
    .column-right{ float: none; width: 100%; }
}

